<p id="notice"><%= notice %></p>
<h1>Posts</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td> 
        <td><%= post.body %></td>
	<% if (post.user) %>
	<td> <%= link_to "#{post.user.email}" %> </td>
	<% else %>
	<td> Anonymous </td>
	<% end %>
	<td style="padding-left:3px;"><%= link_to(image_tag('eye.jpg',alt:'Show', title:'Show details',border:'0'), post_path(post,page: @posts.current_page))%></td>
        <td style="padding-left:3px;"><%= link_to(image_tag('edit.png',alt:'Edit', title:'Edit item',border:'0'), edit_post_path(post,page: @posts.current_page)) %></td>
        <td style="padding-left:3px;"><%= link_to(image_tag('destroy.gif',alt:'Destroy', title:'Destroy item',border:'0'), post_path(post,page: @posts.current_page),data: {confirm:'Are you sure?'}, method: :delete)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
	<div>
	<%=page_entries_info @posts%>
	</div>
<%=will_paginate @users,container:false%>  
</div>

<br>

<%= link_to 'New Post', new_post_path(page: @posts.current_page) %>

