<!DOCTYPE html>
<html>
<head>
  <title>Weblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header">
		<%= render :partial => 'sessions/login' %>
		<div class="navigation">
			<%= render_navigation %>
		</div>
	
	<% flash.each do |key, value| %>
		<span class="flash_<%= key %>">
		<span class="flash_message"><%= value %></span>
		</span>
	<% end %>
	</div>



	</div>

<div class="content">	
<%= yield %>
</div>

<div id="footer">
</div>


</body>
</html>
